@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;

html {
  background-color: @light-blue;
  background-image: url('img/logo.jpg');
}
.logo {
  background-image: url('img/zabble.png');
  height:100px;
  width:100px;
}